[Desktop Entry]
Type=Application
Name=MailSpoof
Comment=Professional Email Spoofing and Phishing Simulation Framework
Exec=mailspoof -h
Icon=mailspoof
Terminal=true
Categories=Utility;Network;Security;
Keywords=email;spoof;phishing;security;pentest;
